{% extends 'base.html' %} {% block content %}
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/img/pexels-sebastian-sørensen-1370391.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Wild mountains, wild gifts</span>
                            <span class="section-heading-lower">About Our Recipes</span>
                        </h2>
                        <p>Based in a tiny hamlet high in the Savoyard Alps. We love exploring the rich landscapes that surround us, searching out the finest wild produce and the most exciting recipes to showcase their delicious natural flavours.</p>
                        <p class="mb-0">Browse our recipes and be inspired to pull on your walking shoes and join in the hunt for the most natural, organic and healthful wild produce. Experiment with our natural recipes to create your own mountain delights. Know another wild recipe then please <em>Sign up</em> and share it with us all. Join us and encourage your friends and family to discover the joys of VinSauvage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
