{% extends 'base.html' %} {% block content %}



<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3 class="recipe-heading">Add Recipe</h3>
                <p>Discovered a wild recipe? Add it here!</p>
                 <!-- Add a recipe using this form -->
                <form id="contactForm" action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Recipe Name</label>
                            <input type="text" class="form-control" placeholder="Recipe Name" id="recipe_name" name="recipe_name">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Author</label>
                            <input type="text" class="form-control" placeholder="Author" id="author" name="author">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description" id="description" name="description">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Category</label>
                            <select class="form-control" id="category" name="category">
                                {% for category in categories %}
                                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Prep Time</label>
                            <input type="text" class="form-control" placeholder="Prep Time" id="prep_time" name="prep_time">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Ingredients</label>
                            <textarea rows="5" class="form-control" placeholder="Ingredients" id="Ingredients" name="Ingredients"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Method</label>
                            <textarea rows="5" class="form-control" placeholder="Method" id="method" name="method"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label>Put the link to your recipe's picture here!</label>
                            <input type="text" class="form-control" placeholder="img" id="img" name="img">
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary" >Add</button>
                    <a class="btn btn-primary btn" href="{{ url_for('show_recipe') }}"> Cancel </a>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To Share the Wild</span>
                        </h2>
                        <p class="mb-0">Whether you want to make a beer, wine, cidre, liqueur or try your hand in the still room you will find a recipe to suit your taste. Join us to share your own recipe and photo from your quest for VinSauvage. You will be sure to find appreciative friends here. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}