{% extends 'base.html' %} {% block content %}
<h1 class="center">Manage Categories</h1>
<div class="container">
    <div class="row">
        <div class="col-12 center-align">
            <form id="contactForm" action="{{ url_for('insert_category') }}" method="POST" class="col s12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add a new category" name="category_name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
        <div id="categories" class="col s12 m3">
            <div class="card center-align">
                <div class="card-content black-text">
                    <input class="form-control" type="text" value="{{category.category_name}}" readonly>
                    <!--- <span class="card-title">{{ category.category_name }}</span>-->
                </div>
                <!-- buttons -->
                <div class="card-action">
                    <a href="{{ url_for('edit_category', category_id=category._id) }}" class="waves-effect waves-light btn btn_small light-green">Edit</a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" class="waves-effect waves-light btn btn_small red accent-4">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}