{% extends 'base.html' %} {% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/yann-allegre-IgG_px8WDGg-unsplash.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">The Taste of Our Mountains</span>
                    <span class="section-heading-lower">Worth Exploring</span>
                </h2>
                <p class="mb-3">Every season the forests, meadows and mountain slopes of Savoie abound with natural wild ingredients. We offer you a chance to share this abundance and sample the finest VinSauvages. Browse our recipes or sign up with us to share your own favourite!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="{{ url_for('contact') }}">Join Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To Share the Wild</span>
                    </h2>
                    <p class="mb-0">Whether you want to make a beer, wine, cidre, liqueur or try your hand in the still room you will find a recipe to suit your taste. Join us by sharing recipes and photos from your quest for VinSauvage. You will be sure to find appreciative friends here. </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}