{% extends 'base.html' %} {% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2><p>Thank you for getting in touch with us!</p>
                <a class="btn btn-secondary return-btn" href="{{ url_for('show_recipe') }}">Click here to see all the recipes</a></h2>
            </div>
        </div>
    </div>
</section>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To Share the Wild</span>
                        </h2>
                        <p class="mb-0">Whether you want to make a beer, wine, cidre, liqueur or try your hand in the still room you will find a recipe to suit your taste. Join us by sharing recipes and photos from your quest for VinSauvage. You will be sure to find appreciative friends here. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
