{% extends 'base.html' %} {% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}" type="text/css" />
</head>

<div class="container">

    <!-- Page Heading -->
    <div class="recipes-heading">
        <div><h2><a>Want to add your recipes? <a class="recipe-sign-up" href="{{ url_for('add_recipe') }}">Add a recipe!</a></h2></div>
    </div>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="{{ url_for('display_one', recipe_id=recipe._id) }}"><img class="card-img-top" src="{{recipe.img}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ url_for('display_one', recipe_id=recipe._id) }}">{{recipe.recipe_name}}</a>
                    </h4>
                    <p class="card-text">{{recipe.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
</div>
{% endblock %}